
<button (click)="handleAddNew()">
  <mat-icon>add</mat-icon>
</button>
<table mat-table matSort (matSortChange)="handleSort($event)" [dataSource]="finalDataView" class="mat-elevation-z8"
  style="width:100%">
  <caption>{{caption}}</caption>
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="false"> {{col}} </th>
    <td mat-cell *matCellDef="let element;let i = index">
      <span *ngIf="i !== editingIndex; else editor ">{{element[col]}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <ng-container
        *ngTemplateOutlet="(i !== editingIndex)? nonEditingButton : editingButtons; context: { $implicit: i }">
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['Edit'])"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['Edit']);"></tr>

</table>
<!--
<table>
  <thead>
    <tr>
      <th *ngFor='let key of this.displayedColumns'>{{key}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let row of this.dataView '>
      <td scope="row" *ngFor='let key of this.displayedColumns'> {{row[key]}} </td>
    </tr>
  </tbody>
</table>
-->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.length" (page)="handlePageChange($event)"
  showFirstLastButtons></mat-paginator>

<ng-template #editor>
  <input class="editInput" matInput placeholder="Edit">
</ng-template>



<ng-template #nonEditingButton let-i>
  <button (click)="handleEditClick($event, i)">
    <mat-icon>edit</mat-icon>
  </button>
</ng-template>

<ng-template #editingButtons let-i>
  <button>
    <mat-icon>save</mat-icon>
  </button>
  <button (click)="handleCancel($event, i)">
    <mat-icon>cancel</mat-icon>
  </button>
</ng-template>